/* automatic size vw */
/* automatic size vh */
/* text clamp */
/* anime In order */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;700&display=swap");
/* automatic size vw */
/* automatic size vh */
/* text clamp */
/* anime In order */
/*
    button
*/
a:focus {
  outline: none;
}

/*
    Title
*/
/*
    Icon
*/
/*
    Banner
*/
/*
    common
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  font-size: 16px;
  color: #5f7b96;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #e8f1fa;
  font-size: 16px;
  padding: 5px 10px;
  margin: 5px 2px;
  cursor: pointer;
}
@media (max-width: 428px) {
  .btn {
    font-size: 13px;
    padding: 5px 8px;
  }
}

.footer-btn {
  position: relative;
  grid-column: 1/-1;
  height: 85px;
  width: 100%;
  color: #fff;
  font-size: 30px;
  border: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2039215686);
  border-radius: 9px;
  cursor: pointer;
}
@media (max-width: 428px) {
  .footer-btn {
    width: 350px;
    height: 70px;
  }
}
.footer-btn:hover {
  opacity: 0.9;
}
.footer-btn_icon {
  float: left;
  margin: 25px;
  color: #fff;
}
@media (max-width: 428px) {
  .footer-btn_icon {
    margin: 15px;
  }
}
.footer-btn_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
@media (max-width: 428px) {
  .footer-btn_title {
    font-size: 22px;
  }
}
.footer-btn-orange {
  background-color: #ffa031;
}
.footer-btn-red {
  background-color: #ee2737;
}

.util_sp {
  display: none !important;
}
@media (max-width: 428px) {
  .util_sp {
    display: block !important;
  }
}

.util_pc {
  display: block !important;
}
@media (max-width: 428px) {
  .util_pc {
    display: none !important;
  }
}

/*
	header
*/
#header {
  height: 60px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}

.header-logo {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-logo_img {
  margin-left: 20px;
}

/*
    Wrapper
*/
.content {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 428px) {
  .content {
    background-color: #fff;
  }
}
.content-img {
  margin-top: 60px;
}
@media (max-width: 428px) {
  .content-img {
    margin-top: 30px;
  }
}
.content-main {
  margin: 60px;
  padding: 40px;
  gap: 30px;
  list-style: none;
  width: 1000px;
  height: 290px;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1607843137);
  border: 1px solid #dedede;
  border-radius: 16px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
@media (max-width: 428px) {
  .content-main {
    margin: 10px;
    width: 100%;
    overflow: scroll;
    border-radius: unset;
    gap: 12px;
    padding: 20px;
    border: none;
    box-shadow: none;
    height: 200px;
  }
}
.content-item {
  cursor: pointer;
}
.content-item:hover {
  opacity: 0.7;
}
.content-item:hover .content-item_title {
  color: #ee2737;
  font-weight: 550;
}
.content-item_title {
  color: #6a6a6a;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1300px;
}
.footer-img {
  margin: 60px 0px;
}
@media (max-width: 428px) {
  .footer-img {
    margin: 50px 0px 25px 0px;
  }
}
.footer-body {
  display: grid;
  grid-template-columns: 492px 492px;
  grid-template-rows: 445px 445px;
  gap: 26px 16px;
}
@media (max-width: 428px) {
  .footer-body {
    grid-template-columns: 390px;
    grid-template-rows: 344px;
    gap: 15px 20px;
  }
}
.footer-content {
  position: relative;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1607843137);
  border: 1px solid #dedede;
  border-radius: 16px;
}
.footer-wrapper {
  padding: 26px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}
@media (max-width: 428px) {
  .footer-wrapper {
    height: 345px;
    padding: 19px;
  }
}
.footer-wrapper_desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 285px;
}
@media (max-width: 428px) {
  .footer-wrapper_desc {
    display: flex;
    height: 216px;
    justify-content: space-between;
  }
}
.footer-wrapper_title {
  cursor: pointer;
  color: #0f88ff;
  font-size: 20px;
  line-height: 1.2;
}
@media (max-width: 428px) {
  .footer-wrapper_title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.footer-wrapper_title:hover {
  color: #ee2737;
  font-weight: 600;
}
.footer-wrapper_info {
  color: #4b4b4b;
  font-size: 14px;
}
@media (max-width: 428px) {
  .footer-wrapper_info {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-size: 16px;
  }
}
.footer-wrapper_img {
  margin: 0px 16px 22px 0px;
}
.footer-wrapper_img_main {
  cursor: pointer;
}
.footer-wrapper_img_main:hover {
  opacity: 0.7;
}
.footer-wrapper_img_sale {
  position: absolute;
  top: 0px;
  left: 0px;
}

/*# sourceMappingURL=style.css.map */
