@import "../mixin/functions";
$red: #ee2737;
$gray: #6a6a6a;
$dark: #4b4b4b;
$blue: #0f88ff;
$background-banner: #fafafa;
$pink: #fa3260;
$orange: #ffa031;
$white: #fff;
$text-btn-footer: #5f7b96;
$background-border-btn: #e8f1fa;
$breakpoint-pc: 1920px;
$breakpoint-md: 428px;
